.menu-button-container {
  display: none;
}

.main-nav {
  padding: 28px 0 0 128px;
}

.main-nav-home,
.main-nav-arrow,
.main-nav-institucional {
  padding-right: 8px;
}

.main-nav-arrow,
.main-nav-institucional {
  padding-bottom: 3px;
}

.main-title {
  width: 100%;
  text-align: center;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #292929;

  margin-top: 78px;
  margin-bottom: 40px;
}

.main-content-wrapper-off {
  display: flex;
  padding-left: 128px;
  padding-right: 128px;
}

.nav-list {
  padding: 0;
  list-style: none;

  border-right: 1px solid #e5e5e5;
}

.nav-list-item-inactive {
  width: 270px;
  height: 38px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  padding: 10px 0 0 16px;

  cursor: pointer;

  color: #7d7d7d;
}

.nav-list-item-active {
  width: 270px;
  height: 38px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  padding: 10px 0 0 16px;
  background-color: #00c8ff;

  cursor: pointer;

  color: #ffffff;
}

@media (max-width: 820px) {
  .main-content-wrapper-on {
    padding-left: 82px;
    padding-right: 82px;
  }
}

@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    top: 38px;
    left: 14px;
  }

  .menu-button-input {
    position: absolute;
    opacity: 0;
  }

  .menu-button-label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
  }

  .menu-button-label span {
    position: absolute;
    display: block;
    height: 3.5px;
    width: 100%;
    border-radius: 5px;
    background: #ffffff;
    transition: 0.25s ease-in-out;
  }

  .menu-button-label span:nth-child(1) {
    top: 0;
  }

  .menu-button-label span:nth-child(2) {
    top: 8px;
  }

  .menu-button-label span:nth-child(3) {
    top: 16px;
  }

  .menu-button-input:checked + .menu-button-label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
  }

  .menu-button-input:checked + .menu-button-label span:nth-child(2) {
    opacity: 0;
  }

  .menu-button-input:checked + .menu-button-label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
  }

  .main-nav {
    padding: 16px 0 0 16px;
  }

  .main-content-wrapper-off {
    display: none;
  }

  .main-content-wrapper-on,
  .main-content-wrapper-off {
    flex-direction: column;
    row-gap: 48px;

    padding-left: 16px;
    padding-right: 16px;
  }

  .main-title {
    text-align: center;

    margin-top: 32px;
    margin-bottom: 22px;
  }

  .nav-list {
    border-right: none;
  }

  .nav-list-item-inactive,
  .nav-list-item-active {
    width: 100%;
  }
}

@media (max-width: 912px) {
  .main-content-wrapper-off {
    padding-left: 90px;
  }
}
